#
# learning-sql
# pre-commit-hooks
#

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo:  https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
