#
# learning-sql
# continuous integation pipeline
#

name: "Learning SQL CI"
on:
  push: {}
jobs:
  setup-sakila-db:
    name: "CI: Create Sakila Database"
    runs-on: ubuntu-20.04
    env:
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mariadb-password
      MYSQL_PORT: 3306
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_ROOT_PASSWORD: root-password
        ports:
          - 3306:3306
    steps:
      - name: "Download & Extract Sakila Database"
        run: |
          curl -LO https://downloads.mysql.com/docs/sakila-db.tar.gz
          tar -xzvf sakila-db.tar.gz
      - name: "Wait for MySQL to initialize"
        run: |
          CONNECTION_OPTS="--host=localhost --port=$MYSQL_PORT --protocol=tcp --user=$MYSQL_USER --password=$MYSQL_PASSWORD"
          while ! echo "SHOW DATABASES;" | mysql ${CONNECTION_OPTS}
          do
            echo "Waiting 5s for MySQL to initialize"
            sleep 5
          done
      - name: "Import Sakila Database Schema & Data"
        run: |
          CONNECTION_OPTS="--host=localhost --port=$MYSQL_PORT --protocol=tcp --user=$MYSQL_USER --password=$MYSQL_PASSWORD"
          mysql ${CONNECTION_OPTS} < sakila-db/sakila-schema.sql
          mysql ${CONNECTION_OPTS} < sakila-db/sakila-data.sql
