#
# learning-sql
# continuous integation pipeline
#

name: "Learning SQL CI"
on:
  push: {}
jobs:
  setup-sakila-db:
    name: "CI: Create Sakila Database"
    runs-on: ubuntu-20.04
    env:
      MYSQL_USER: mariadb
      MYSQL_PASSWORD: mriadb-password
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_ROOT_PASSWORD: root-password
        ports:
          - 3601:3601
    steps:
      - name: "Download & Extract Sakila Database"
        run: |
          curl -LO https://downloads.mysql.com/docs/sakila-db.tar.gz
          tar -xzvf sakila-db.tar.gz
      - name: "Import Sakila Database Schema & Data"
        run: |
          CONNECTION_OPTS="--host=localhost --protocol=tcp --user=${{ env.MYSQL_USER}} --password=${{ env.MYSQL_PASSWORD }}"
          mysql ${CONNECTION_OPTS} < sakila-db/sakila-schema.sql
          mysql ${CONNECTION_OPTS} < sakila-db/sakila-data.sql
